.movie {
  background-color: lemonchiffon;

  img {
    width: 400px;
    border: 3px solid purple;
  }

  h3 {
    font-size: 24px;
    color: lightseagreen;
  }

  p {
    font-size: 18px;
    color: saddlebrown;
  }
}
